body{

    background-color: #111318;
    margin: -8px;
    margin-bottom: none;
    margin-top: none;

}

.search{

    background-color: #111318;
    /* margin-right: -8px;
    margin-left: -8px; */

    padding-top: 10vw;
    padding-bottom: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summoners{

    background-color: #111318;
    padding: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

#go{
    cursor: pointer;
}

#go:hover{
    color: white;
    background-color: #44464c;

}



input{

    width: 25vw;
    height: 4vw;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #272931;
    border: none;
    color: rgb(184, 174, 174);
    transition: 0.5s;
    border-radius: 0px;
    
    
}

select{

    width: 15vw;
    height: 4vw;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #272931;
    border: none;
    color: rgb(184, 174, 174);
    transition: 0.5s; 
    border-radius: 0px;

    
}

a{

    padding: 1.1vw;
    background-color: #272931;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(184, 174, 174);
    transition: 0.5s;
    border-radius: 0px;


}


input:hover, input[type=search]:focus, select:hover{

    color: white;
    background-color: #44464c;
}



#user{

    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    background-color: #272931;
}

.row p{

    background-color: #272931;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(227, 229, 241);
    border: inset;
    border-width: 0.5px;
    border-color: rgb(223, 185, 89);
    min-width: 25vw;
    margin: -1px;

}

