<body>
    
    <!-- <div class="row">

        <div id="leyenda" class="column">

            <div class="row">
    
                <h1 style="color: white;">RULES</h1>
    
            </div>
    
            <div class="row icons">
                <h2>Run! Run! And never look back.</h2>
                <i id="skull" class="fas fa-skull-crossbones"></i>
    
            </div>
    
            <div class="row icons impar" >
                <h2>You should probably run!</h2>
                <i id="biohazard" class="fa fa-biohazard"></i>
    
            </div>
    
            <div class="row icons">
                <h2>It's your choice to stay...</h2>
                <i id="warning" class="fa fa-exclamation-triangle"></i>
    
            </div>
    
            <div class="row icons impar">
                <h2>It'll probably be fine.</h2>
                <i id="face" class="fas fa-meh-rolling-eyes"></i>
    
            </div>
    
            <div class="row icons">
                <h2>Totally fine, go ahead.</h2>
                <i id="check" class="fa fa-check"></i>
    
            </div>
    
        </div>

        <div class="column">

            <h1 style="color: white;">Top 10 most hated</h1>
            <div class="row" *ngFor="let summoner of users" >

                <p>{{summoner.name}} - Reported {{summoner.nReported}} times</p>
            
                
            </div>
            
        </div>


    </div> -->


    <div class="row search">

        <input type="search" id="" placeholder="Type the summoner's name" #name>
        <select name="" id="">
            <option value="euw">Europe West</option>
            <!-- <option value="">Europe Nordic & East</option>
            <option value="">LAN</option>
            <option value="">Korea</option>
            <option value="oce">Oceania</option>
            <option value="ru">Russia</option>
            <option value="jp">Japan</option>
            <option value="br">Brazil</option>
            <option value="tr">Turkey</option>
            <option value="na">North America</option>
            <option value="las">LAS</option> -->
        </select>
    
        <a id="go" (click)="getUser(name.value)">Go</a>
    
    </div>
    
    
    
    <div class="row summoners" *ngIf="user!= null">
    
        <!-- <img id="user" src="http://ddragon.leagueoflegends.com/cdn/6.3.1/img/profileicon/1.png" alt=""> -->
        <a >{{user.name}}</a>
        <a >{{user.summonerLevel}}</a>
        <a href="{{link}}">Summoner's GG.OP</a>
        <button type="button" id="go2" (click)="postUser()" [disabled]="disabled">Report</button>
    </div>

    <div class="column" *ngIf="riotUsers!= null" style="margin-bottom: 2vw;">

        <h1>Your Lobby</h1>

        <div  style="margin-bottom: 2vw;">

            <div class="row" *ngFor="let riotUser of riotUsers" >
    
                <p>{{riotUser.name}} - Reported {{riotUser.nReported}} times</p>
    
            </div>
        
            
        </div>

    </div>
    
    
    <div class="column" *ngIf="users!= null">

        <h1 style="color: white;">Top 10 most hated</h1>
        <div class="row" *ngFor="let summoner of users">

            <p>{{summoner.name}} - Reported {{summoner.nReported}} times</p>
        
            
        </div>
        
    </div>

    <div class="row" style="padding: 2vw;">

    </div>
</body>


